@model IEnumerable<IS220M11.Models.accountModel>
@{
    ViewData["Title"] = "Admin";
    Layout = "_LayoutAdmin";
}

<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }


    #customers tr:nth-child(even) {
        background-color: #e7e3d4;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #A88A64;
        color: white;
    }
    #customers td {
        color: #49371f;
    }
</style>
<script  type="text/javascript">
                    function alertFunction() {
                        alert("Hi! Chức năng đang dần được hoàn thiện trong lần nâng cấp tới!");
                    }
</script>
<div class="container-fluid px-4">
    <h1 class="mt-4" style="color: #49371f">Member management</h1>
    <form method="get" asp-action="ListMember" >
        <p>
            <input type="search" placeholder="Enter username or email ..." value="@ViewData["Getaccountdetails"]" name="Usersearch" style="width:500px;" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            @* <button type="submit" class="btn bttn-primary">Search</button> | *@
            <a asp-action="ListMember">Get All User</a>
        </p>
    </form>
    <table class="table" id="customers">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UPhone)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UPhone)
                </td>
                <td>
                    <a onclick="alertFunction()"  href="javascript:void(0)">Ban</a> |
                    <a asp-controller="account" asp-action="GuestInfo" asp-route-id="@item.UName">Details</a> |
                    <a onclick="alertFunction()"  href="javascript:void(0)">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>